:root{
    --grayish-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);

    --white: hsl(0, 0%, 100%);
    --dark-desaturated-blue: hsl(236, 21%, 26%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --very-dark-mostly-black-blue: hsl(234, 17%, 12%);
}

*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 14px;
    font-family: 'Red Hat Text', sans-serif;
    
    height: 100vh;
    
    background: no-repeat url("../images/pattern-hills.svg")  bottom left / contain,
                no-repeat url("../images/bg-stars.svg"),
                linear-gradient(var(--very-dark-mostly-black-blue),var(--dark-desaturated-blue));
}

.container{
    display: flex;
    flex-direction: column;

    align-items: center;
}

header{
    padding: 100px 0;
}
header h1{
    font-size: 2em;
    letter-spacing: 10px;
    text-transform: uppercase;
    color: var(--white);
}

main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;

}

.card{
    --height: 190px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 0;
    height: var(--height);
    width: var(--height);    
    
    border-radius: 10px;
            
    box-shadow: 0px 15px 0px 0px rgba(0,0,0,0.4);
    background: var(--very-dark-blue);
    
}


.card:before{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
        
    mask: radial-gradient(circle at bottom, transparent 9px, black 10px) calc(var(--height)/2);
    
    border-radius: 10px 10px 0 0;      
    background-color: var(--dark-desaturated-blue);
    opacity: 0.4;
}
.card:after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    height: 50%;
    width: 100%;
    
    mask: radial-gradient(circle at top, transparent 9px, black 10px) calc(var(--height)/2);
    
    border-radius: 0 0 10px 10px; 
    background-color: var(--dark-desaturated-blue);
}


.card div{
    position: relative;
    z-index: 0;
    align-self: center;
    font-size: 7.5em;
    color: var(--soft-red);
}
.card div:before{
    content: "";
    position: absolute;
    height: 50%;
    width: 100%;
    background: #262738;
    opacity: 0.2;
}
/*
.card:hover:before{
    background: var(--very-dark-mostly-black-blue);
    transition: transform 500ms ease-in;
    transform: translateY(100%) scale(1,-1);
}
*/

main h3{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: var(--grayish-blue);
}

footer{
    display: flex;
    position: absolute;
    
    gap: 30px;  
    
    bottom: 50px;
}

.icon-sm{
    height: 24px;
    width: 24px;
}
.icon-sm:hover{
    cursor: pointer;
    filter: invert(56%) sepia(16%) saturate(3938%) hue-rotate(309deg) brightness(98%) contrast(101%);
}







